@tailwind base;
@tailwind components;
@tailwind utilities;

.k,
.kc,
.kn,
.kp,
.kr,
.nt,
.o,
.ow,
.cp,
.cpf {
  color: #ff79c6;
}
.s,
.sa,
.sb,
.sc,
.dl,
.sd,
.s2,
.se,
.sh,
.si,
.sx,
.sr,
.s1,
.ss {
  color: #f1fa8c;
}
.m,
.mb,
.mf,
.mh,
.mi,
.il,
.mo {
  color: #bd93f9;
}
.na,
.nc,
.nf {
  color: #50fa7b;
}
.c,
.ch,
.cm,
.c1,
.cs {
  color: #6272a4;
}
.gd {
  color: #8b080b;
}
.go {
  color: #44475a;
}
.kt,
.kd,
.nb,
.nl,
.nv,
.vc,
.vg,
.vi {
  color: #8be9fd;
  font-style: italic;
}
.ge,
.gl {
  text-decoration: underline;
}
.gh,
.gi,
.gu {
  font-weight: bold;
}
